.main-layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
    background-color: #f4f5f7;
}

.content-container {
    flex: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}
