
.nav-topbar {
    background-color: #1e3b36; 
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1200;
    border-bottom: 2px solid #143028;
}

.nav-pill-container {
    background: #23453f;
    padding: 8px 15px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
}


.nav-pill {
    padding: 8px 18px;
    background-color: transparent;
    color: #ffffffcc;
    border-radius: 30px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

    .nav-pill:hover {
        background-color: #ffffff20;
        color: white !important;
    }

    .nav-pill.active {
        background-color: #ffca28;
        color: black !important;
        font-weight: bold;
    }
